@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #dc143c;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* background-position: center; */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dim layer: increase alpha for darker dim */
  backdrop-filter: blur(5px); /* Optional: adds background blur */
  z-index: -1;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* styles/glass.css or global.css */
.glass-card {
  @apply backdrop-blur-sm bg-white/10 shadow-xl;
}
