@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #dc143c;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #480009, #7f021b, #dc143c);
  background-size: 400% 400%;
  animation: gradientShift 10s ease infinite;
}

* {
  font-family: Outfit;
}

.font-playfair {
  font-family: Playfair !important;
}

/* styles/glass.css or global.css */
.glass-card {
  @apply backdrop-blur-sm bg-white/10 shadow-xl;
}

/* @keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
